html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

*,
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    

}
body{
    overflow-y: auto;
}

.main-content {
    max-width: 1078px;
    position: relative;
    margin: auto;
}



h1.main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    /* color: #000; */
    color: #ededed;
    letter-spacing: 0.31px;
    padding-top: 40vh;
    margin-bottom: 24px;
    /* text-transform: uppercase; */
}
.intro-text {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    /* margin-top: 40px; */
    border-radius: 5px;
    overflow: hidden;
    /* cursor: pointer; */
    /* height: 40vh; */
    /* box-shadow: #ddd 0px 2px 5px; */
    /* border: solid #ddd 1px; */
}

.intro-text p {

    margin-bottom: 8px;
    font-family: 'Karla',
        sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    /* color: #474747; */
    color: #dddddd;
    letter-spacing: 0.31px;
    line-height: calc(25 / 16);
}

p {

    margin-bottom: 8px;
    font-family: "Miriam Libre";
    font-weight: 400;
    font-size: 12px;
    line-height: 3;
    /* color: #474747; */
    color: #000;
    letter-spacing: 0.31px;
    /* line-height: calc(25 / 16); */
}
.Header {
    display: block;
    position: fixed;
    /* width: calc(100% - 30px); */
    width: 100%;
    z-index: 100;
    background-color: #fff;
    font-family: 'Karla',
        sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    box-shadow: #f0f0f0 0px 2px 5px;
    /* max-width: 1078px; */
    /* display: flex; */
    padding: 15px 15px;
    /* justify-content: space-between; */

}
#defaultCanvas0 {

    position: absolute;
    top: 0;
    z-index: -99;
}
.view-page {
    height: 100vh;
    position: relative;


}

.greeting {
    opacity: 0;
    transition: 1s;
}


.sitename {

    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-items: center;

}

.site_title {
    width: 100%;
    text-align: left;
}

.social_btn {
    display: block;
    max-width: 24px;
    max-height: 24px;
}

.social_btn_bar {
    width: 100%;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-gap: 15px;
        justify-content: end;
    grid-template-columns: repeat(3, auto);
}
#facebook,
#linkedin,
#github,
#behance,
#insta,
#codepen {
    fill: #888;
    transition: all ease-in-out 0.25s;
}

#facebook:hover,
#linkedin:hover,
#github:hover,
#behance:hover,
#insta:hover,
#codepen:hover {
    fill: #000;
    animation: re-jump 1s infinite;
    transition: all ease-in-out 0.25s;

}@keyframes re-jump {

    0%,
    40%,
    80% {
        transform: translateY(-1px);
    }

    20%,
    60% {
        transform: translateY(-2px);
    }



    100% {
        transform: translateY(0px);
    }
}
footer {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.31px;
    line-height: calc(20 / 16);
    padding-right: 30px;
    margin-bottom: 20px;
    /* margin-top: 80px; */
    color: #4f5356;
    margin-top: 30px;
    bottom: 0;
}


h1.main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5;
    /* color: #000; */
    color: #fff;
    letter-spacing: 0.31px;
    padding-top: 40vh;
    margin-bottom: 24px;
    /* text-transform: uppercase; */
}

.mysite {
    position: relative;
    text-decoration: none;
    /* color: #474747; */
    color: #000;
    background-color: #fff;
    /* font-size: 16px; */
    /*  display: inline-block; */
    border-bottom: 1px dotted #fff;
    /* If you want dots under the hoverable text */
}

/* mysite text */
.mysite .mysitetext {
    visibility: hidden;

    width: 80px;
    background-color: #Fff;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 0.7em;
    /* Position the mysite text - see examples below! */
    position: absolute;
    z-index: 1;
    margin-left: 8px;
    top: -8px;
}

.mysite:hover .mysitetext {

    /* visibility: visible; */
    animation: jump 0.5s infinite;
}

.mysite:hover {
    text-decoration: none;
    background-color: #FFCD07;
    color: #000;
}

.mysitetext::after {
    content: "";
    position: absolute;
    top: 68%;
    right: 97%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #FFF transparent transparent;
}


@keyframes re-jump {

    0%,
    40%,
    80% {
        transform: translateY(-1px);
    }

    20%,
    60% {
        transform: translateY(-2px);
    }



    100% {
        transform: translateY(0px);
    }
}
@keyframes jump {
    0% {
        top: -8px;
    }

    15% {
        top: -10px;
    }

    30% {
        top: -8px;
    }

    45% {
        top: -10px;
    }

    60% {
        top: -8px;
    }

    100% {
        top: -8px;
    }
}
